#menu {
    list-style-type: none;
    width: 250px;
    font-size: 150%;
    cursor: pointer;
    margin-top: 40px;
}

.listDivs {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.itemDivs {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
}

.arrowDiv {
    text-align: center;
}


